@page
@model IndexModel

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<canvas id="blockRateChart"></canvas>
<script>
    const labels = [@Html.Raw(string.Join(",", Model.BlockRateOverTime.Select(x => $"\"{x.Date}\"")))];
    const data   = [@Html.Raw(string.Join(",", Model.BlockRateOverTime.Select(x => x.BlockRate.ToString("F1"))))];

    new Chart(document.getElementById('blockRateChart'), {
    type: 'line',
    data: { labels, datasets: [{ label: 'Block Rate %', data }] }
    });
</script>

<u><b>Top Queries</b></u>
<table>
    <tr><th>Domain</th><th>Queries</th></tr>
    @foreach (var (domain, count) in Model.TopDomains)
    {
        <tr><td>@domain</td><td>@count</td></tr>
    }
</table>

<u><b>Slowest Queries</b></u>
<table>
    <tr><th>Domain</th><th>Average Speed (Ms)</th></tr>
    @foreach (var (domain, speed) in Model.SlowestDomains)
    {
        <tr><td>@domain</td><td>@speed</td></tr>
    }
</table>

<u><b>Peak Usage</b></u>
<table>
    <tr><th>Hour</th><th>Num of Queries</th></tr>
    @foreach (var (hour, count) in Model.PeakUsage)
    {
        <tr><td>@hour</td><td>@count</td></tr>
    }
</table>

<dl>
    <dt><u>Total Queries</u></dt>
    <dd>@Model.TotalQueries</dd>

    <dt><u>Average Queries Per Day</u></dt>
    <dd>@Model.AvgQueriesPerDay</dd>

    <dt><u>Rate of Blocked Domains</u></dt>
    <dd>@Model.BlockRate</dd>

    <dt><u>Average Response Time</u></dt>
    <dd>@Model.AvgResponseTime</dd>
    
    <dt><u>Unique Domains Today</u></dt>
    <dd>@Model.UniqueDomainsToday</dd>

    <dt><u>Last Query</u></dt>
    <dd>@Model.LastQuery</dd>
</dl>